/*
!/app
!/assets
!/components
!/layouts
!/mixins
!/modules
!/middleware
!/pages
!/plugins
!/static
!/store
!/.editorconfig
!/.eslintrc.js
!/.gitignore
!/jsconfig.json
!/nuxt.config.js
!/package.json
!/readme.md
!/stylelint.config.js
