.range-field {
    .filter-option {
        align-items: stretch;
        gap: 0;
        padding-top: 0;
        padding-right: 7px;
        padding-bottom: 0;
        padding-left: 5px;

        &__input {
            width: 100%;
        }
    }

    .control {
        align-self: center;
        width: 19px;
        color: $colorGray;
    }
}
