.button--favorites-precense {
    width: 41px;
    min-height: 38px;

    ::v-deep .button__core {
        padding: 10px;
    }
}

.is-on {
    ::v-deep .svg__path {
        stroke: $colorRed;
        fill: $colorRed;
    }
}
