.checkbox-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    &__checkbox-list {
        display: grid;
        row-gap: 6px;
        min-height: 120px;
        transition: height 0.4s;
        overflow-y: hidden;
    }

    &__list-expanding-toggle {
        color: $colorBrightBlue;
    }
}
