.checkbox-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .is-not-distanced {
        margin-bottom: 0;
    }

    &__list-expanding-toggle {
        color: $colorBrightBlue;
        margin-top: 4px;
    }
}
