@include fontface(
    Montserrat, Montserrat,
    'montserrat-v23-latin_cyrillic-regular',
    400, normal,
);
@include fontface(
    Montserrat, Montserrat,
    'montserrat-v23-cyrillic-600', 600, normal,
);

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $colorSuperLight;
    background-color: $colorLightBlack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-width: #{$minMobileWidth}px;
    min-height: 100%;
    padding: 0;
    letter-spacing: normal;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: $colorSuperLight;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    $gridColor: #000;
    $gridCutterWidth: percentage(30 / 1110);
    $gridColumnWidth: percentage((1110 - (11 * 30)) / 12 / 1110);
}

picture {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    text-align: center;
    transition: color 0.5s $easeInOutCirc, border 0.5s $easeInOutCirc, background 0.5s $easeInOutCirc, opacity 0.5s $easeInOutCirc;
}

a,
button {
    color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    appearance: none;
    margin: 0;
}
