@include fontface(
    Montserrat, Montserrat,
    'montserrat-v23-latin_cyrillic-regular',
    400, normal,
);
@include fontface(
    Montserrat, Montserrat,
    'montserrat-v23-latin-500', 500, normal,
);
@include fontface(
    Montserrat, Montserrat,
    'montserrat-v23-cyrillic-600', 600, normal,
);

html {
    min-height: 100vh;
    padding-top: 105px;
    padding-bottom: 105px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 19.5px;
    font-weight: 400;
    background: linear-gradient(232.72deg, $colorDarker 3.98%, $colorBlue 100%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 1360px;
    min-height: 100%;
    padding: 0;
    letter-spacing: normal;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 8px;
    background-color: $colorSuperLight;
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: 0 -6px 20px $colorDarknest;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    $gridColor: #000;
    $gridCutterWidth: percentage(30 / 1110);
    $gridColumnWidth: percentage((1110 - (11 * 30)) / 12 / 1110);
}

picture {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    text-align: center;
    transition: color 0.5s $easeInOutCirc, border 0.5s $easeInOutCirc, background 0.5s $easeInOutCirc, opacity 0.5s $easeInOutCirc;
}

a,
button {
    color: inherit;
}

button,
input {
    font-family: Montserrat, Arial, sans-serif;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    appearance: none;
    margin: 0;
}

button,
label {
    cursor: pointer;
}
