.button {
    display: grid;
    grid-template: 100% / 100%;

    &__core {
        display: grid;
        width: 100%;
        min-height: inherit;
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }
}
