.filter-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 200px;
    min-height: 33px;
    padding-top: 5px;
    padding-right: 13px;
    padding-bottom: 7px;
    padding-left: 13px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border: 1px solid $colorLight;
    border-radius: 2px;
    background-color: $colorWhite;
}
