.filter-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-width: 33px;
    min-height: 33px;
    padding-top: 6px;
    padding-right: 13px;
    padding-bottom: 6px;
    padding-left: 13px;
    font-size: 12px;
    line-height: 14.63px;
    text-align: center;
    border: 1px solid $colorLight;
    border-radius: 2px;
    background-color: $colorWhite;
    transition: border-color 0.3s, background-color 0.3s;

    &:hover {
        border-color: $colorBrightBlue;
    }
}
