.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--light {
        color: $colorLightBlack;
        background-color: $colorWhite;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 920px;
        padding-top: 100px;
        padding-bottom: 92px;

        @include mq($maxTabletWidth) {
            width: 100%;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
}

