.image {
    &__core {
        display: grid;
        width: 100%;
        height: 100%;
        text-align: justify;
    }

    .h-erase-background-color {
        background-color: transparent;
    }
}
