.button--cost-sort {
    .button__core {
        position: relative;
        max-width: 145px;
        min-height: 17px;
        padding-right: 14px;
        line-height: 17px;

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 4.5px);
            right: 0;
            width: 5px;
            height: 5px;
            border-bottom: 1px solid $colorGray;
            border-right: 1px solid $colorGray;
            transform: rotate(-135deg);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: calc(50% - 4.5px);
            right: 0;
            width: 5px;
            height: 5px;
            border-bottom: 1px solid $colorGray;
            border-right: 1px solid $colorGray;
            transform: rotate(45deg);
        }
    }
}
