.range {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    margin: auto;

    .line {
        position: relative;
        height: 1px;
        background-color: $colorSuperLightGray;
        margin: auto;
    }

    .selection {
        position: absolute;
        top: 0;
        left: 10px;
        width: 80px;
        height: 100%;
        background-color: $colorDark;
    }

    .handle {
        position: absolute;
        top: -8px;
        left: 10px;
        width: 16px;
        height: 16px;
        border: 1px solid $colorSuperLightGray;
        border-radius: 50%;
        background-color: $colorWhite;
        cursor: pointer;
    }

    .right-pin {
        left: 70px;
    }

    .output {
        min-width: 20px;
        padding: 10px;
        border: 2px solid $colorBlack;
        margin: 20px auto;
    }
}
