.double-range {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8px;
    column-gap: 4px;
    min-height: 47px;
    margin: auto;

    .handle-bar {
        grid-column: 1 / 3;
    }
}
